<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.example.unaizrehmani.finalcookbook">

    <application
        android:allowBackup="true"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:supportsRtl="true"
        android:theme="@style/AppTheme">
        <activity android:name=".MainScreen">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity android:name=".findRecipe" />
        <activity
            android:name=".EditIngredients"
            android:windowSoftInputMode="adjustPan" />
        <activity android:name=".EditRecipes" />
        <activity android:name=".excludeRecipe" />
        <activity android:name=".RecipeResult" />
        <activity android:name=".singleRecipeScreen" />
        <activity android:name=".SingleRecipeDirections" />
        <activity android:name=".EditTextIngredient" />
        <activity
            android:name=".AddRecipe"
            android:windowSoftInputMode="adjustPan"/>
        <activity android:name=".EditAllRecipes" />
        <activity android:name=".DeleteRecipe" />
        <activity
            android:name=".AddRecipeDirections"
            android:windowSoftInputMode="adjustPan"
            ></activity>
    </application>

</manifest>